
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.container {
  max-width: 70%;
  margin: auto;
}

.title{
  text-align: center;
  text-shadow: 0 1px 2px;
  margin-bottom: 20px;
}

#floater {
  position: absolute;
  top: 150px;
  right: 1px;
  width: auto;
  height: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
