<div class="container">
  <mat-form-field class="example-form-field">
    <mat-label>Search something</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="inputValue"
      (ngModelChange)="search($event)"
    />
    <mat-hint *ngIf="!hasElements()" align="start"
      ><strong>Nothing found</strong>
    </mat-hint>
    <button
      mat-button
      *ngIf="inputValue"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-accordion class="example-headers-align">
    <ng-container *uiScroll="let product of datasource; index as index">
      <mat-expansion-panel
        [expanded]="step === index"
        (opened)="setStep(index)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-description>
            <mat-grid-list cols="3" rowHeight="140px">
              <mat-grid-tile>
                <mat-grid-list cols="1" rowHeight="70px">
                  <mat-grid-tile rowspan="1">
                    {{ product.productName }}
                  </mat-grid-tile>
                  <mat-grid-tile rowspan="1">
                    {{ product.productPrice | currency }}
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-grid-tile>
              <mat-grid-tile>
                {{ product.productDescription }}
              </mat-grid-tile>
              <mat-grid-tile>
                <img
                  src="{{ product.image }}"
                  class="product-img-avatar"
                  alt="{{ product.productName }}"
                />
              </mat-grid-tile>
            </mat-grid-list>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div class="details-container">
            <div>
              <img
                mat-card-image
                src="{{ product.image }}"
                class="product-img-body"
                alt="{{ product.productName }}"
              />
            </div>
            <div class="details-text-container">
              <div>
                <div>Product Description:</div>
                <div>
                  {{ product.productDescription }}
                </div>
              </div>
              <div class="price-container">
                <div>
                  {{ product.productPrice | currency }}
                </div>
                <div>
                  <button mat-button color="accent">
                    Add to Cart
                    <mat-icon>add_shopping_cart</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <mat-action-row>
            <button
              mat-button
              color="warn"
              (click)="prevStep()"
              [ngClass]="{ hidden: isFirst(index) }"
            >
              Previous
            </button>

            <button
              mat-button
              color="primary"
              (click)="nextStep()"
              *ngIf="!isLast(index)"
            >
              Next
            </button>
          </mat-action-row>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
