.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header {
  min-height: 150px;
}

.mat-grid-list {
  position: unset;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container {
  max-width: 70%;
  margin: auto;
}

.product-img-avatar {
  border-radius: 80%;
  max-height: 120px;
}

.cdk-virtual-scroll-viewport {
  overflow: unset;
  contain: unset;
}

.example-form-field {
  margin: 10px 0 10px 0;
  width: 100%;
}

.mat-action-row {
  justify-content: space-between;
  padding: 16px 8px;
}

.mat-action-row button:first-child {
  margin-left: unset;
}

.hidden {
  visibility: hidden;
}

.details-container {
  display: flex;
  margin: 15px;
}

.details-text-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: 15px;
  font-size: large;
  font-weight: 350;
}

.price-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
