<mat-toolbar class="stickyBar">
    <a routerLink="/home">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
        <mat-icon>home</mat-icon>
      </button>
    </a>
      <span>Totally not a Fake Store</span>
    <span class="example-spacer"></span>
  <a routerLink="cart">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </a>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
